
@{
    ViewBag.Title = "Tabla";
}

<h2>Tabla</h2>

<table class="table">
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Apellido Paterno</td>
            <td>Apellido Materno</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Emanuel</td>
            <td>Arias</td>
            <td>Rivera</td>
        </tr>
        <tr>
            <td>Jose</td>
            <td>Arias</td>
            <td>Rivera</td>
        </tr>
        <tr>
            <td>Sevastian</td>
            <td>Arias</td>
            <td>Rivera</td>
        </tr>
    </tbody>
</table>

